# MF2ROL Sample configuration file.
# Vsechny radky oznaceny prvnim znakem # budou ignorovany.
# Nasledujici dva prikazy musi byt vzdy v kazdem konfiguracnim souboru.
# Bank file udava jaka se bude pouzivat banka pri konvertovani a
# Percussion udava zda se take budou pouzivat perkuse (bubny).
#
bankfile bnk835.bnk
percussion no
#
# Nasledujici funkce prikazu otviraji instrument pro ruzny track,kanal,
# cislo noty v MIDI souboru.
# Syntaxe prikazu je:
#
#    assign <timbre> <track> <channel> <patch> <note> <note_offset>
#
# Objevi-li se v zadani znak * nebude teto funkci prirazena zadna hodnota .
# Zpracovani se provadi podle pravidel od prvni fce az do posledni.
# Prvni parametr (fce) <timbre> udava nazev instrumentu (nastroje),druhy
# paranetr <track> udava v jakem tracku bude nota pouzita,treti parametr
# <channel> udava kanal,ctvrty <patch>?,paty <note> ?. 
# Sesty parametr <note_offset> udava 'posunuti' noty,pro verohodnost nastroje
# se zadava 0 . Tento parametr ma kladne i zaporne hodnoty.
# Pro priklad 12 'posune' ton o oktavu vyse.
# 
# Pro verohodnost hudby a nastroju je potreba znat vsechny nastroje,ktere
# jsou obsazeny v aktualni bance Bank file,aby program mohl nastroj vyhledat
# a pouzit. Toto je treba si uvedomit pri tvorbe MIDu (tj. nepouzivat pri
# tvorbe,tech nastroju,ktere v bance nejsou).
# Pri pozdejsim prevadeni do formatu CMF musime jeste znat vsechny nastroje
# ,ktere lze pouzit pri konverzaci Rol>Cmf (nastroje s priponou SBI). 
# Obsah banky .BNK lze vypsat souborem ListBank.exe a to na tiskarnu 
# nebo do souboru.
#
# Zde se zadaji prislusne prikazy s parametry:
assign organ1   * *  *  * 12
assign organ1   * *  *  * 12